body {
      main {
            section {
                  height: 100%;

                  form {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        .red {
                              color: red;
                              font-weight: 800;
                              word-spacing: -0.24rem;
                        }

                        .green {
                              color: rgb(86, 105, 16);
                        }

                        .clicked {
                              background-color: white;
                              color: rgb(86, 105, 16);
                              border: 1px solid;
                        }

                        input {
                              height: 2rem;
                              padding-inline-start: 1rem;
                              border: 1px solid;
                        }

                        input::placeholder {
                              font-weight: 600;
                              font-size: 0.8rem;
                        }

                    

                        .form {

                              &_top {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    align-items: center;
                                    gap: 1rem;

                                    p {
                                          color: rgb(86, 105, 16);
                                    }

                                    input {
                                          text-transform: capitalize;
                                    }
                              }
                        }

                        input,
                        button {
                              outline: 0;
                              width: 100%;
                        }
                  }
            }
      }

}